[buildout]
develop = .
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
parts =
    interpreter
    test
versions = versions
extensions = buildout.dumppickedversions


[versions]
grokcore.view = 
martian = 0.12
grokcore.component = 2.0
zope.app.wsgi = 3.9.2


[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.view
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = grokcore.view
       grokcore.view[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
